@mixin hideAndShow() {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

@mixin show() {
  visibility: visible;
  opacity: 1;
}

.wrapper {
  position: relative;
  width: fit-content;
}

.visible {
  .trigger {
    .arrow {
      @include show();
    }
    .popper {
      @include show();
    }
  }
}

.trigger {
  position: relative;
  &:hover {
    .arrow {
      @include show();
    }
    .popper {
      @include show();
    }
  }
}
.arrow {
  @include hideAndShow();
}
.popper {
  @include hideAndShow();

  &:hover {
    @include show();
  }
}

.right {
  .popper {
    left: calc(100% + 9px);
    top: -50%;
  }
  .trigger {
    .arrow {
      content: " ";
      right: -9px;
      top: calc(50% - 7px);
      border-width: 7px;
      border-style: solid;
      border-color: transparent white transparent transparent;
    }
  }
  &.dark {
    .trigger {
      .arrow {
        border-color: transparent #2b2b2b transparent transparent;
      }
    }
  }
}
.left {
  .popper {
    right: calc(100% + 10px);
    top: -50%;
  }
  .trigger {
    .arrow {
      content: " ";
      right: calc(100% - 4px);
      top: calc(50% - 7px);
      border-width: 7px;
      border-style: solid;
      border-color: transparent transparent transparent white;
    }
  }
  &.dark {
    .trigger {
      .arrow {
        border-color: transparent transparent transparent #2b2b2b;
      }
    }
  }
}
.top {
  .popper {
    bottom: calc(100% + 10px);
  }
  .trigger {
    .arrow {
      content: " ";
      bottom: calc(100% - 4px);
      left: calc(50% - 7px);
      border-width: 7px;
      border-style: solid;
      border-color: white transparent transparent transparent;
    }
  }
  &.dark {
    .trigger {
      .arrow {
        border-color: #2b2b2b transparent transparent transparent;
      }
    }
  }
}

.bottom {
  .popper {
    top: calc(100% + 10px);
  }
  .trigger {
    .arrow {
      content: " ";
      top: calc(100% - 4px);
      left: calc(50% - 7px);
      border-width: 7px;
      border-style: solid;
      border-color: transparent transparent white transparent;
    }
  }
  &.dark {
    .trigger {
      .arrow {
        border-color: transparent transparent #2b2b2b transparent;
      }
    }
  }
}
